azure-identity
azure-cosmos
agent-framework-azure-ai==1.0.0b251114
agent-framework-azure-ai-search==1.0.0b251218
agent-framework-core==1.0.0b251211
azure-search-documents==11.7.0b2
azure-ai-projects==2.0.0b1
ipykernel==6.29.5